h1 {
  font-family:  Helvetica;
  font-size:    70px;
  font-weight:  bold;
  color:        white;
}

.page-menu {
  background-image: url("../the-flatiron-building.png");
  text-align: center;
}

.nav-style {
  list-style-type:  none;
  font-family:      Helvetica;
  font-size:        18px;
  color:            white;
}
